[submodule "PlayerCore"]
	path = PlayerCore
	url = https://github.com/OathAdPlatforms/OathVideoPartnerSDK-PlayerCore-iOS.git
[submodule "PlayerControls"]
	path = PlayerControls
	url = https://github.com/OathAdPlatforms/OneMobileSDK-controls-ios.git
[submodule "VideoRenderer"]
	path = VideoRenderer
	url = https://github.com/OathAdPlatforms/OneMobileSDK-videorenderer-ios.git
[submodule "fastlane/actions"]
	path = fastlane/actions
	url = https://github.com/OathAdPlatforms/OneMobileSDK-build-scripts-ios.git
