[submodule "PlayerCore"]
	path = PlayerCore
	url = https://github.com/yahoo/VerizonVideoPartnerSDK-PlayerCore-iOS.git
[submodule "PlayerControls"]
	path = PlayerControls
	url = https://github.com/yahoo/VerizonVideoPartnerSDK-controls-ios.git
[submodule "VideoRenderer"]
	path = VideoRenderer
	url = https://github.com/yahoo/VerizonVideoPartnerSDK-videorenderer-ios.git
[submodule "fastlane/actions"]
	path = fastlane/actions
	url = https://github.com/yahoo/VerizonVideoPartnerSDK-build-scripts-ios.git
